.full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    z-index: 0;
}

.slide {
    position: absolute;
    list-style-type: none;
}

.slide1{opacity: 0;}
.slide2{opacity: 0;}
.slide3{opacity: 0;}
.slide4{opacity: 0;}
.slide5{opacity: 0;}