<template name="slidefade">
    <div id="photo-container">
        <ul class="slides">
            <li class="full-screen slide slide1" style="background-image: url('/images/b1.jpg');"></li>
            <li class="full-screen slide slide2" style="background-image: url('/images/b2.jpg');"></li>
            <li class="full-screen slide slide3" style="background-image: url('/images/b3.jpg');"></li>
            <li class="full-screen slide slide4" style="background-image: url('/images/b4.jpg');"></li>
            <li class="full-screen slide slide5" style="background-image: url('/images/b6.jpg');"></li>
        </ul>
    </div>
</template>