<template name="slideshow">
    {{#if firstload}}
        {{> loading}}
    {{/if}}
    <div class="photo-container">
        <ul class="slides">
            {{#each index images}}
                <li class="full-screen slide slide{{_index}}" style="background-image: url({{url}});"></li>
            {{/each}}
        </ul>
    </div>
</template>